<link rel="stylesheet" href="/css/profile.css">

<nav>
    <div class="logo">
    <h1>NodeJS Authentication </h1>
    </div>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#card">Card</a></li>
        <li><a href="#about">About</a></li> 
        <li> <a href="/users/sign-out">Sign Out</a></li> 
    </ul>
</nav>
    <!-- cards -->
    <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTemQMLv4HcdRY7okNa_7Nb0BSZrDofUykbpZHNbhGkHg&s" alt="Card Image">
        <div class="card-content">
          <h3>Card Title 1</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo leo eu mauris malesuada tristique.</p>
          <a href="#" class="btn">Read More</a>
        </div>
      </div>
    
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTemQMLv4HcdRY7okNa_7Nb0BSZrDofUykbpZHNbhGkHg&s" alt="Card Image">
        <div class="card-content">
          <h3>Card Title 2</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo leo eu mauris malesuada tristique.</p>
          <a href="#" class="btn">Read More</a>
        </div>
      </div>
    
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTemQMLv4HcdRY7okNa_7Nb0BSZrDofUykbpZHNbhGkHg&s" alt="Card Image">
        <div class="card-content">
          <h3>Card Title 3</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo leo eu mauris malesuada tristique.</p>
          <a href="#" class="btn">Read More</a>
        </div>
      </div>
   
